
3_Article_Screen/3_1_Depression/Depression.Data/
4_Data_Extraction\4_2_Symptoms\4_2_1_Depression\4_2_1_7_Literature_Search\OUTPUT/
*.zip
5_Analysis/5_2_Measurement data analysis/data/
.Rproj.user

# ignore MacOS generated temp file:
._*
