
3_Article_Screen/3_1_Depression/Depression.Data/
4_Data_Extraction\4_2_Symptoms\4_2_1_Depression\4_2_1_7_Literature_Search\OUTPUT/
*.zip

6_Reports\6_1_Depression\Method&Result&Introduction/
6_Reports\6_1_Depression\Question&Reply