2_Literature_Search/2_1_Depression/2_1_1_Scale/OUTPUT/
3_Article_Screen/3_1_Depression/Depression.Data/
4_Data_Extraction\4_2_Symptoms\4_2_1_Depression\4_2_1_7_Literature_Search\OUTPUT/
*.zip
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CBCL/Achenbach儿童行为量表的再标准化及效度检验.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/andresen1994.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/cheng2012.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/cheung1998.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/lee2008.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/li2015.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/radloff1977.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/radloff1991.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/wang2013.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/williamli2010.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/yang2015.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/我国部分农村地区受艾滋病影响儿童心理弹性的保护性因素研究.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/CES-D/流调中心抑郁量表在我国青少年中的试用.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/DASS-21/lovibond1995.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/DASS-21/大学生媒体多任务与心理健康的关系.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/mercadante2005.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/MSSMHS/中学生抑郁量表的编制及其标准化.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/14MB_心理与教育测量_1668239532.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/15MB_心理测验与常用量表_1680450314.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/DEP_COL_400_ZHANG_2012.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/derogatis1976.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/hoffmann1978.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/mensah2009.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/SCL-90信度效度检验和常模的再比较 (1).pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/SCL-90信度效度检验和常模的再比较.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/中国正常人SCL-90评定结果的初步分析.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/大学新生SCL—90调查结果与分析.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/症状自评量表(SCL-90).pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/SCL-90/陕西省大中学生心理健康水平调查_高成阁.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/cite_paper/简明症状量表在高中学生中的试用.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/Haoyuan_output_数据记录表.xlsx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CBCL/CBCL-汪向东.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D-10.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_Chau-Kiu Cheung.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_Ho Cheung William Li.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_Lee, S.W.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_Mengcheng Wang.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_Radloff .docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_儿童版.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_胡安艳.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Haoyuan_output/scale/CES-D/CES-D_靳晓霞.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/2.数据记录表_v1.3.xlsx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CDI/beck1961.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CDI/DEP_JUN_113_ZHAO_2014儿童抑郁量表中文版在中小学生中的信效度_吴文峰.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CDI/DEP_JUN_120_XU_2019_Children’s Depression In- ventory in Estonia．Single items and factor structure by age and gender.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CDI/DEP_PRI_102_LIN_2018儿童抑郁量表中文版在中学生中的信效度分析_洪忻.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CDI/DEP_PRI_103_LIU_2018中学生的抑郁症状与生活事件_非适应性策略的中介作用_陈海燕.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_COL_76_ZHANG_2016_引文.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_COL_77_FU_2018 简版流调中心抑郁量表在全国成年人群中的信效度_张宝山.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_COL_78_LI_2017_Radloff.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_COL_87_MA_2020广州市中学生网络成瘾与自杀相关行为的关系_潘丝媛.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_COL_88_YANG_2021大学生抑郁情绪现状及影响因素分析_刘琰.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_COL_88_YANG_2021抑郁症患者认知功能损害及其影响因素初步研究_娄乐.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/CES-D/DEP_PRI_100_ZHANG_2015_Beck.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/DSRSC/儿童抑郁障碍自评量表的中国城市常模_苏林雁.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/MFQ-C/DEP_PRI_130_GUO_2018_Properties of the mood and feelings questionnaire in adolescent psychiatric outpatients a research note.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/MFQ-C/DEP_SEN_132_YU_2017_The Development of a Questionnaire for Use in Epidemiological Studies of Depression in Children and Adolescents.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/MFQ-C/DEP_SEN_132_YU_2017简化情绪量表中文版用于中学生的信度和效度_程培霞.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/MINI-KID/简明儿童少年国际神经精神访谈(父母版)的信效度_刘豫鑫.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/MINI-KID/简明儿童少年国际神经精神访谈儿童版的信效度_刘豫鑫.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/3.reference/汪向东1999-心理卫生评定量表手册增订版.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/4.scale_items/CDI.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/4.scale_items/CES-D.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/4.scale_items/DSRSC.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Liuqing_output/4.scale_items/MFQ-C.docx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/DSRSC/birleson1981.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/DSRSC/cite_wrong/儿童焦虑性情绪障碍筛查表的中国城市常模_王凯.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/cite_wrong/jordan2000.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/cite_wrong/ZUNG氏抑郁自评量表(S...碍常规筛查工具的可行性研究_王汝展.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/cite_wrong/中学生焦虑情绪调查_陈姜.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/cite_wrong/初中生睡眠质量与肥胖的相关性分析_任艳峰.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/cite_wrong/癌症末期病人家属感受和需求的调查_苏春燕.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/scholar.ris
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/zung1965.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/医学院校大学生抑郁情绪与生活事件的相关分析.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/大学生抑郁现状调查及影响因素研究.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/心理卫生评定量表手册(增订版)_汪向东.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/抑郁自评量表(SDS).pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/焦虑及抑郁自评量表的临床效度.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/精神科评定量表手册_张明园.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/cite_paper/SDS/行为医学量表手册_张作记.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/Mengzhen_output_数据记录表.xlsx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/scale/DSRSC_Birleson.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/scale/DSRSC_苏林雁.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/scale/SDS_Zung.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/scale/SDS_张明园 & 张作记.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Mengzhen_output/scale/SDS_汪向东.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/DSRSC/birleson1981.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/DSRSC/cite_wrong/儿童焦虑性情绪障碍筛查表的中国城市常模_王凯.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/DSRSC/儿童抑郁障碍自评量表的中国城市常模_苏林雁.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/cite_wrong/jordan2000.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/cite_wrong/ZUNG氏抑郁自评量表(S...碍常规筛查工具的可行性研究_王汝展.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/cite_wrong/中学生焦虑情绪调查_陈姜.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/cite_wrong/初中生睡眠质量与肥胖的相关性分析_任艳峰.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/cite_wrong/癌症末期病人家属感受和需求的调查_苏春燕.caj
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/Zung(1967)Factors influencing the self-rating depression scale.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/zung1965.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/Zung_1986_p223.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/姚树桥_2008_医学心理学第5版.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/心理卫生评定量表手册(增订版)_汪向东.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/戴晓阳2015-常用心理评估量表手册.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/精神科评定量表手册.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/精神科评定量表手册_张明园.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/cite_paper/SDS/行为医学量表手册_张作记.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/liuweibiao_数据记录表.xlsx
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/scale/DSRSC_Birleson.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/scale/DSRSC_苏林雁.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/scale/SDS_Zung_1965&1967.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/scale/SDS_Zung_1986.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/scale/SDS_张明园 & 张作记&姚树桥&戴晓阳.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Weibiao_output/scale/SDS_汪向东.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/BSRS5/BSRS5_Lee_1990_JFMA.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/HADS/zigmond1983.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/hamd/汉密顿抑郁量表(HAMD).pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/KADS/kads11.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/PHQ/J General Internal Medicine - 2001 - Kroenke - The PHQ‐9.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/PHQ/PHQ-9ReviewKroenke.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/PHQ/患者健康问卷抑郁症状群量表在综合性医院中的应用研究.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/PHQ/病人健康问卷抑郁量表(PHQ-9)在社区老年人群中的应用——信度与效度分析.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/SDS/zung1965.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/SDS/zung1969.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/SDS/抑郁自评量表(SDS)-王征宇.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/UPI/大学新生的大学生人格问卷(UPI)心理健康调查研究.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/UPI/大学生人格问卷(UPI)十年应用状况分析及修订.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/WHO-CIDI/MPR-13-93.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/BECK ORIGINAL.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/beck1972.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/beck1988.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/Beck抑郁自评量表的临床应用与评价-徐俊冕.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/Beck抑郁自评量表的临床应用与评价.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/dere2015.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/大学生自杀现象的社会学解读.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/贝克抑郁量表/贝克抑郁量表第2版中文版在青少年中的信效度-杨文辉.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/错误引用/wang2009.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/cite_paper/错误引用/初中学生自尊特点的初步研究-张文新.pdf
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/scale/DSRSC_Birleson.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/scale/DSRSC_苏林雁.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/scale/SDS_Zung.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/scale/SDS_张明园 & 张作记.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/scale/SDS_汪向东.txt
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/ZZ-0323.rar
4_Data_Extraction/4_2_Symptoms/4_2_1_Depression/4_2_1_7_Literature_Search/OUTPUT/Zhangzheng_output/张正_output_数据记录表.xlsx
